html {
  position: relative;
  font-size: 1vw;
}
@media (max-width: 768px) {
  html {
    font-size: 4.267vw;
  }
}
/* TODO: REMOVE */

@keyframes playButton {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.5rem;
  height: 3.5rem;
  animation: playButton 0.8s linear infinite alternate;
}

.play-button svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container-tech-modern {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-out;
  opacity: 0;
  pointer-events: none;
}

.video-tech-modern {
  transition: all 0.4s ease-out !important;
  width: 100%;
}

.swiper-tech-modern {
  width: 100%;
}

.swiper-tech-modern .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-tech-modern .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.swiper-pagination-tech-modern {
  position: absolute;
  bottom: -2rem !important;
  transition: all 0.4s ease-out !important;
  z-index: 10 !important;
}

.swiper-pagination-tech-modern .swiper-pagination-bullet {
  background-color: rgb(219, 180, 132);
}

@media (min-width: 1024px) {
  .play-button {
    width: 4.5rem;
    height: 4.5rem;
  }
  .video-tech-modern {
    max-width: 62rem !important;
  }
  .swiper-tech-modern {
    height: 100vh;
  }
  .swiper-tech-modern .swiper-slide {
    transform: scale(0.7);
    transition: all 0.6s ease-out;
  }
  .swiper-tech-modern .swiper-slide:hover {
    transform: scale(1);
  }
  .swiper-pagination-tech-modern {
    opacity: 0;
  }
  .swiper-pagination-tech-modern {
    bottom: 1.5rem !important;
  }
}
