@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html {
  position: relative;
  font-size: 1vw;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  html {
    font-size: 4.267vw;
  }
}
/* TODO: REMOVE */

.slide-container {
  position: relative;
}

.swiper-custom-class {
  width: 100%;
  height: 100vh;
}

.swiper-custom-class .swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: transparent;
}

.swiper-custom-class .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.deco-next-image {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.deco-next-image img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.deco-next-image-1 {
  right: 80%;
}
.deco-next-image-1 img {
  transform: translateX(80%);
}

.deco-next-image-2 {
  right: 60%;
}
.deco-next-image-2 img {
  transform: translateX(60%);
}

.deco-next-image-3 {
  right: 40%;
}
.deco-next-image-3 img {
  transform: translateX(40%);
}

.deco-next-image-4 {
  right: 20%;
}
.deco-next-image-4 img {
  transform: translateX(20%);
}

.prev-slide-btn {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  z-index: 10;
  width: 3rem;
  height: 4rem;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}
.next-slide-btn {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  z-index: 10;
  width: 3rem;
  height: 4rem;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}

.prev-slide-btn svg,
.next-slide-btn svg {
  width: 3rem;
  height: 3rem;
}
